.title {
    font-size: 50px;
    background-color: lightblue;
    margin: auto;
    box-sizing: border-box;
    height: 100px;
    width: 400px;

    padding: 20px;
    border: 10px;

    text-align: center;
}